<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zeak Meadows - Home</title>
    <meta name="author" content="Zeak Meadows">
    <link rel="Zeak Meadows" href=""/>
    <link rel="home" href=""/>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="images/icon.jpg">
    <link rel="apple-touch-icon" type="image/jpg" href="images/icon.jpg">

    <!-- ================================
    Start CSS
    ================================= -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- ================================
    End CSS
    ================================= -->

  </head>
  <body>

    <!-- ================================
    Start Navigation Bar
    ================================= -->
    <header>
      <div class="headerCol">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-auto">
            </div>
            <div class="col">
              <div class="d-md-none">
                <button class="navToggle">
                  <span class="navToggle__text">Toggle Menu</span>
                </button>
              </div>
              <div class="navCollapseCol">
                <div class="navCol">
                  <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- ================================
    End Navigation Bar
    ================================= -->

    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="bannerSection">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-auto order-md-last">
              <div class="bannerUserImg">
                <img src="images/user-img.jpg" alt="...">
              </div>
            </div>
            <div class="col-md">
              <div class="bannerContent">
                <h1 class="xlTitle pb-3">Hi, I'm Zeak Meadows, <br> a Software Engineer</h1>
                <p>I am an energetic, ambitious person who has developed a mature and responsible approach to any task that I undertake and any situation that I am presented with</p>
                <div class="bannerBtnCol">
                  <div class="row">
                    <div class="col-auto">
                      <a download href="javascript:void(0)" class="btn btnPrimary">Download Resume</a>
                    </div>
                    <div class="col-auto">
                      <a href="contact.html" class="btn btnOutline">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="sectionSpace pt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-auto">
              <div class="col-md">
              <h4 class="smTitle pb-3">Coding Skills</h4>
              <div class="progressCol">
                <div class="progressCard">
                  <div class="progressCol">
                    <span class="progressLbl">SQL</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="progressCol">
                    <span class="progressLbl">Python</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="progressCol">
                    <span class="progressLbl">Java</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="progressCol">
                    <span class="progressLbl">JavaScript</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="progressCol">
                    <span class="progressLbl">C++</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="progressCol">
                    <span class="progressLbl">C#</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">100%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="sectionSpace">
        <div class="container">
          <div class="portfolioCol">
            <div class="row pb-3">
              <div class="col">
                <h4 class="smText regular">Portfolio</h4>
              </div>
              
            <div class="portfolioCard">
              <div class="row g-4 align-items-center">
                <div class="col-md-auto">
                  <div class="portfolioImgCol">
                    <a href="https://github.com/ZeakMeadows/Finance_Calculators"><img src="images/work-img.jpg" alt="..."></a>
                  </div>
                </div>
                <div class="col-md">
                  <div class="portfolioContentCol">
                    <h4 class="lgTitle"><a href="https://github.com/ZeakMeadows/Finance_Calculators">Finance Calculators</a></h4>
                    <ul class="portfolioOption">
                      <li><span class="dateLbl">2023</span></li>

                    </ul>
                    <p>A program that allows the user to access two different financial calculators: an investment calculator and a home loan repayment calculator.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolioCard">
              <div class="row g-4 align-items-center">
                <div class="col-md-auto">
                  <div class="portfolioImgCol">
                    <a href="https://github.com/ZeakMeadows/Task_Manager"><img src="images/work-img.jpg" alt="..."></a>
                  </div>
                </div>
                <div class="col-md">
                  <div class="portfolioContentCol">
                    <h4 class="lgTitle"><a href="https://github.com/ZeakMeadows/Task_Manager">Task Manager</a></h4>
                    <ul class="portfolioOption">
                      <li><span class="dateLbl">2023</span></li>
                    </ul>
                    <p>A program for a small business that can help it to manage tasks assigned to each member of the team.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolioCard">
              <div class="row g-4 align-items-center">
                <div class="col-md-auto">
                  <div class="portfolioImgCol">
                    <a href="https://github.com/ZeakMeadows/Stock_Taker"><img src="images/work-img.jpg" alt="..."></a>
                  </div>
                </div>
                <div class="col-md">
                  <div class="portfolioContentCol">
                    <h4 class="lgTitle"><a href="https://github.com/ZeakMeadows/Stock_Taker">Stock Taker</a></h4>
                    <ul class="portfolioOption">
                      <li><span class="dateLbl">2023</span></li>
                    </ul>
                    <p>A program used to track stock of products.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </section>
    <!-- ================================
    End Content
    ================================= -->
    
    <!-- ================================
    Start Footer
    ================================= -->
    <footer>
      <div class="footerCol">
        <div class="container">
          <ul class="socialCol">
            <li><a href="https://www.linkedin.com/in/zeak-meadows-043616264/"><img src="images/linkedin.svg" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©2023 All rights reserved. Designed by <a target="_blank">Zeak Meadows</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->

    <!-- ================================
    Start Scripts
    ================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <!-- ================================
    End Scripts
    ================================= -->
  </body>
</html>